{% extends "AppBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <p>Поздравляем Вас с успешной регистрацией!</p>
    <a href="{{ path('fos_user_profile_show') }}">Перейти в личный кабинет</a>

{% endblock content %}
