{% extends 'AdminPanelBundle::layout.html.twig' %}

{% block content %}
Добро пожаловать в панель администратора, {{ app.user.username }}!
<p>
    На этой странице будет полная статистика по сайту: графики продаж, графики посещений и т.д.
</p>
{% endblock %}
