{% extends 'AdminPanelBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i>
                <a href="{{ path('admin_panel_homepage') }}">AdminPanel</a>
            </li>
            <li class="active">Управление пользователями</li>
        </ul>
    </div>
    <div class="col-md-4">

    </div>
</div>
<div class="content">
    <div class="main-header">
        <h2>Управление пользователями</h2>
        <em><i class="fa fa-users"></i> </em>
    </div>

    <div class="main-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="widget widget-table">
                    <div class="widget-header">
                        <h3><i class="fa fa-list"></i> Список пользователей</h3>
                    </div>
                    <div class="widget-content">
                        <table id="publications-table" class="table table-sorting table-striped table-hover datatable dataTable no-footer">
                            <thead>
                            <th>#</th>
                            <th>Имя</th>
                            <th>Дата регистрации</th>
                            <th></th>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/ply.js') }}"></script>
    <script type="text/javascript">
        $('#publications-table').dataTable( {
            serverSide: true,
            ajax: '{{ path('ajax_users') }}',
            order: [ 2, 'desc' ],
            columns: [
                { "data": "id", "orderable": false },
                { "data": "name" },
                { "data": "created" },
                { "data": "delete", "orderable": false },
            ]
        });

        $('#publications-table').on('click', 'a.mod-delete',function(e){
            Ply.dialog("confirm", "Удалить пользователя навсегда?")
                    .done(function (ui) {
                        document.location.href = e.currentTarget.href;
                    })
            return false;
        });
    </script>
{% endblock %}
