{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="contact-form">
    <h2 class="style1">Настройка банковской карты *</h2>

    {{ form(form) }}

    <em>* Важно! Перевод Вознаграждений осуществляется в течении трех рабочих дней на банковские карты БПС-Сбербанк и Беларусбанк. Просим самостоятельно следить за балансом счета Вашей карты.</em>
</div>
{% endblock %}
