{% extends 'AdminPanelBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i>
                <a href="/adminpanel">AdminPanel</a>
            </li>
            <li>
                <a href="/adminpanel/categories">
                    Управление категориями публикаций
                </a>
            </li>
            <li class="active">Редактирование категории</li>
        </ul>
    </div>
    <div class="col-md-4">

    </div>
</div>

<div class="content">
    <div class="main-header">
        <h2>Добавить категорию материалов</h2>
        <em><i class="fa fa-plus"></i> </em>
    </div>

    <div class="main-content">
            <div class="widget">
                <div class="widget-header">
                    <h3><i class="fa fa-edit"></i> Добавить категорию</h3>
                </div>
                <div class="widget-content">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        <!-- /main-content -->
    </div>
</div>
{% endblock %}