<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Марка</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if items|length > 0 %}
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td><a href="{{ path('admin_catalog_brand_edit', { 'id': item.id }) }}" title="Редактировать марку">{{ item.name }}</a></td>
                <td>
                    <div class="progress" style="width: 100px; margin-bottom: 0px;">
                        <div class="progress-bar progress-bar-{% if item.filling < 25 %}danger{% elseif item.filling < 60 %}warning{% else %}success{% endif %}" data-transitiongoal="{{ item.filling }}"></div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">Нет брендов</td>
            </tr>
        {% endif %}

        </tbody>
    </table>
</div>